.MarkdownContent {
    /*/
    outline: 1px dotted rgb(255, 38, 38) !important;
    /**/

    word-wrap: break-word;
    white-space: normal;
}

.MarkdownContent h1 {
    margin-bottom: 20px;
}

.MarkdownContent h1 img {
    /*/
    outline: 1px dotted rgb(255, 38, 38) !important;
    /**/

    display: inline-block;
    height: 1.3em;
    vertical-align: sub;
    margin-right: 10px;
}

.MarkdownContent h1,
.MarkdownContent h2,
.MarkdownContent h3 {
    margin-top: 20px;
}

.MarkdownContent pre {
    /*/
    outline: 1px dotted rgb(255, 38, 38) !important;
    /**/

    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--panel-background-color) /* <-[🌗] */;
    margin-top: 20px;
    margin-bottom: 20px;
}

.MarkdownContent pre code {
    background-color: unset;
}

.MarkdownContent code {
    background-color: var(--panel-background-color) /* <-[🌗] */;
}
